<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Movies
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 portfolio-item">
            <a href="300">
                <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/za-movie/300.jpg" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/za-movie/TOMMYBOY.jpg" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/za-movie/boure-id.jpg" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/za-movie/conjuring.jpeg" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/za-movie/darkknight1lg.jpg" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/za-movie/fight-club2.jpg" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/za-movie/Hell.jpg" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/za-movie/Anchorman.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/za-movie/LesMis.png" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/za-movie/Mega.jpg" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/za-movie/StarWars.png" alt="">
            </a>
        </div>
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/za-movie/stupidMovie.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->


    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2017</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
